
body{
    background-color: teal;
}

img{
 width: 200px;
 height: 200px;
 animation: mover 1s infinite;
}

@keyframes mover {
    0% {
        filter: grayscale(50%);
      }
      15% {
        transform: rotate(15deg);
        filter: grayscale(10%);
      }
      30% {
        transform: rotate(30deg) ;
        ;
      }
      45% {
        transform: rotate(45deg) ;
        filter: grayscale(45%);
      }
      60% {
        transform: rotate(60deg) ;
        
      }
      75% {
        transform: rotate(75deg) ;
      }
    
      100% {
        transform: rotate(90deg) ;
        
      }
    }