@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');






*{
    
    font-family: 'Dela Gothic One', cursive;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}