#foto{
    width:300px;
    height:300px;
    border-radius:150px
}



#mascara{
    background-color: #016d9b;
    text-align: right;
    height: 60px;
}

.centrar{
   text-align: center;
 
}

#color{
    color: white;
}

#imagen{
    border-radius: 40px;
}