body{
 
    background-color: teal;
    background-image: url("https://static.wikia.nocookie.net/heroe/images/c/c0/Mario_NSMBUD.png/revision/latest?cb=20190714001631&path-prefix=es");
    background-size: 50%;
    background-attachment:fixed ;
    background-repeat: no-repeat;
  
   }

/*pantallas extra pequeñas (celulares hasta 600px osea que tiene un ancho menor a 600px)*/
@media only screen and (max-width: 600px){
    body{
        background-color: tomato;
        background-image: url("https://i.pinimg.com/originals/19/6e/55/196e55f1e66a776b53c8cb685d5cc7c9.png");
    }
}

/*pantallas pequeñas(tablets en modo portai(vertical) y celulares grandes o sea que tienen un ancho mayor a 600px)*/
@media only screen and (min-width: 600px){
    body{
        background-color: violet;
        background-image: url("https://i.pinimg.com/originals/61/f4/b7/61f4b7ea34ef2320d97a9487f57ca7a7.png");
    }
}

/*pantallas de tamaño medio(tablerts en modo landscape(horizontal), o sea que teiene un ancho mayor o igual a 768px*/
@media only screen and (min-width:768px){
    body{
        background-color: yellow;
    }
}
/*pantallas grandes(laptop/compu de escritorio o que tiene un ancho mayot a 992px)*/
@media only screen and (min-width:992px){
    body{
        background-color: peru;
    }
}

/*pantallas muy grnades(laptos gamer monitores extra grandes, que tienen un ancho  mayor o igual 1200px)*/
@media only screen and (min-width:1200px){
    body{
        background-color: navy;
    }
}
