
body{

    background-image: linear-gradient(red,yellow);
   
}

#goku1{

    width: 600px;
    height: 400px;
    filter: grayscale(100%);
    border-radius: 20%;
}

#goku2{
    width: 600px;
    height: 400px;
    border-radius: 20%;
}

#goku3{
    width: 600px;
    height: 400px;
    border-radius: 20%;

    filter: blur(20px);
}