@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');

#color{
    color:#016d9b ;
}

#letra{
    font-family: 'Oi', cursive;
}

#a{
    font-family: monospace;  
}

#b{
    font-family: cursive;
}

#c{
    font-family: Arial, Helvetica, sans-serif;
}

#d{
    font-family: unset;
}

#cesar{
    font-family: cursive;
    font-weight: bold;
}
#ignacio{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#rodriguez{
    font-family: unset;
    font-weight: bold;
}