*{
    margin: 0;
}

nav{
    height: 150px;
    background-image: linear-gradient(#0063b1,white);

     font-weight: bold;
     
}

#logo{
    width: 100px;
    
}



#hipervinculos{
    padding-top: 55px;
    padding-right: 20px;
}
.hipervinculo_header{
    color: black;
    padding: 10px;
    font-size: 20px;
    border: 1px solid blue;
}

main{
    padding-top: -20px;
    /* text-align: center; */
    height: 900px;
    background-image: url("home-image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 90% ;    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* opacity: 50%; */
    
}

footer{
    display: flex;
    justify-content: center;
}
#Titulo {
    color: white;
    font-size: 55px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: -170px;
}
#descipcion{
    color: white;
    padding-bottom: 20px; 
     font-size: 25px;
}
#parrafo{
    color: white;
    padding-top: 30px;
    width:900px ;
    font-size: 25px;
}
#cuadros{
    padding-top: 100px;
}
.cuadro{
    border: solid 1px white;
    
    font-size: 30px;
    padding: 25px;
    color: white;

}
input{
    width: 900px;
    height: 35px;
}
a{
    text-decoration: none;
    /* color: white; */
}
.subfooter {
    font-size: xx-large;
    padding: 60px;
}
